.skills-container{
padding-top: 4%;
}
.skills-content {
    display: flex;
    align-items: flex-start;
    gap:3rem;
}
.skills-content h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    font-family: cursive;
}
h1{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.skills{
    flex:1;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(2,1fr);

}
.skills-info{
    flex:1;
}
@media (max-width:1025px) {
    .skills{
        display: flex;
        flex-direction: column;

    }
}